.DS_Store
testbed/platforms
testbed/plugins
testbed/hooks
node_modules
testbed/ul_web_hooks/
.installed
.gradle/
.idea/
cordova-ionic-phonegap-branch-deep-linking.iml
local.properties
out/
src/cordova-ionic-phonegap-branch-deep-linking.iml
