node_modules/
examples/
tests/
tmp/

testbed/platforms
testbed/plugins
testbed/hooks
testbed/build.json
testbed/config.xml
testbed/package.json
testbed/package-lock.json

.DS_Store
.installed

package-lock.json
npm-debug.log*
yarn-error.log*
