.DS_Store
testbed/platforms
testbed/plugins
testbed/hooks
testbed/build.json
testbed/config.xml
testbed/package.json
node_modules
.installed
.gradle/
.idea/
cordova-ionic-phonegap-branch-deep-linking.iml
local.properties
out/
npm-debug.log*
*.map
package-lock.json
yarn-error.log