<?xml version="1.0" encoding="UTF-8"?>
<!--
    The MIT License (MIT)

Copyright (c) 2015 Branch Metrics, Inc.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="io.branch.sdk"
        version="2.0.11">

    <name>branch-cordova-sdk</name>
    <description>Branch SDK Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,branch</keywords>
    <repo>https://github.com/BranchMetrics/Cordova-Ionic-PhoneGap-Deferred-Deep-Linking-SDK.git</repo>
    <issue>https://github.com/BranchMetrics/Cordova-Ionic-PhoneGap-Deferred-Deep-Linking-SDK/issues</issue>
    
    <dependency
      id="es6-promise-plugin"
      url="https://github.com/vstirbu/PromisesPlugin.git">
    </dependency>

    <js-module src="www/branch.js" name="Branch">
        <clobbers target="Branch" />
    </js-module>

    <preference name="BRANCH_KEY" />
    <preference name="URI_SCHEME" />

    <!-- Hooks -->
    <hook src="hooks/afterPrepareHook.js" type="after_prepare" />
    <hook src="hooks/beforePluginInstallHook.js" type="before_plugin_install" />

    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="BranchSDK">
                <param name="android-package" value="io.branch.BranchSDK" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="io.branch.sdk.BranchKey" android:value="$BRANCH_KEY" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <!-- Non AppLink example -->
            <intent-filter>
                <data android:scheme="$URI_SCHEME" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </config-file>
        <source-file src="src/android/io/branch/BranchSDK.java" target-dir="src/io/branch" />
        <framework src="io.branch.sdk.android:library:1.+" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BranchSDK">
                <param name="ios-package" value="BranchSDK" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="branch_key">
                <string>$BRANCH_KEY</string>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>io.branch.sdk</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$URI_SCHEME</string>
                    </array>
                </dict>
            </array>
        </config-file>
        <header-file src="src/ios/BranchSDK.h" />
        <source-file src="src/ios/BranchSDK.m" />
        <source-file src="src/ios/AppDelegate+BranchSdk.m" />
        <!-- COMMENT if building for NPM -->
        <framework custom="true" src="src/ios/dependencies/Branch.framework" />
        <!-- UNCOMMENT if building for NPM -->
        <!-- <header-file src="src/ios/dependencies/Branch-SDK/BNCConfig.h" />
        <header-file src="src/ios/dependencies/Branch-SDK/BNCContentDiscoveryManager.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BNCContentDiscoveryManager.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BNCEncodingUtils.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BNCEncodingUtils.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BNCError.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BNCError.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BNCLinkCache.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BNCLinkCache.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BNCLinkData.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BNCLinkData.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BNCPreferenceHelper.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BNCPreferenceHelper.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BNCServerInterface.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BNCServerInterface.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BNCServerRequestQueue.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BNCServerRequestQueue.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BNCServerResponse.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BNCServerResponse.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BNCStrongMatchHelper.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BNCStrongMatchHelper.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BNCSystemObserver.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BNCSystemObserver.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Branch-SDK-Prefix.pch" />
        <header-file src="src/ios/dependencies/Branch-SDK/Branch.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Branch.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BranchActivityItemProvider.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BranchActivityItemProvider.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BranchConstants.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BranchConstants.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BranchCSSearchableItemAttributeSet.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BranchCSSearchableItemAttributeSet.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BranchDeepLinkingController.h" />
        <header-file src="src/ios/dependencies/Branch-SDK/BranchLinkProperties.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BranchLinkProperties.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/BranchUniversalObject.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/BranchUniversalObject.m" />

        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BNCServerRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BNCServerRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchApplyPromoCodeRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchApplyPromoCodeRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchCloseRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchCloseRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchCreditHistoryRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchCreditHistoryRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchGetPromoCodeRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchGetPromoCodeRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchInstallRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchInstallRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchLoadActionsRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchLoadActionsRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchLoadRewardsRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchLoadRewardsRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchLogoutRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchLogoutRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchOpenRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchOpenRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchRedeemRewardsRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchRedeemRewardsRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchRegisterViewRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchRegisterViewRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchSetIdentityRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchSetIdentityRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchShortUrlRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchShortUrlRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchShortUrlSyncRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchShortUrlSyncRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchSpotlightUrlRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchSpotlightUrlRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchUserCompletedActionRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchUserCompletedActionRequest.m" />
        <header-file src="src/ios/dependencies/Branch-SDK/Requests/BranchValidatePromoCodeRequest.h" />
        <source-file src="src/ios/dependencies/Branch-SDK/Requests/BranchValidatePromoCodeRequest.m" /> -->
    </platform>
</plugin>
