<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eneff.branch.example" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <!-- Branch -->
    <branch-config>
      <ios-team-id value="PW4Q8885U7"/>
      <host name="eneff.app.link" scheme="https" />
      <host name="eneff-alternate.app.link" scheme="https" />
    </branch-config>

    <name>Branch Testing</name>
    <description>Testing App For Branch Cordova</description>
    <author email="support@branch.io" href="https://support.branch.io/support/tickets/new">Branch Support</author>

    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
