<?xml version='1.0' encoding='utf-8'?>
<!-- widget id = bundle identifier (should match https://dashboard.branch.io/settings/link) -->
<widget id="io.branch.cordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>branch.io</name>
    <description>Cordova testbed for branch.io</description>
    <author email="support@branch.io" href="http://support.branch.io">Branch Support</author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="15" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <!-- branch.io values (should match https://dashboard.branch.io/settings/link) -->
    <preference name="AndroidLaunchMode" value="singleTask" />
    <branch-config>
        <ios-team-id value="4XE8MVRXHY" />
        <host name="2j13.app.link" scheme="https" />
        <host name="2j13-alternate.app.link" scheme="https" />
    </branch-config>
</widget>
