/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
h1,h2,h3,
h4,h5,h6, p {
  margin: 0;
  word-wrap: break-word; }
.status--info {
  margin: 10px 0; }
.ios body {
  margin-top: 30px; }
button {
  background:rgb(220,220,220);
  border: none;
  padding: 20px; }
div, fieldset {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 10px 0; }
fieldset > div > *,
div > * {
  margin: 0 5px;
  width: 10vw;
  -webkit-flex-grow: 1;
  flex-grow: 1; }
.success {
  color: rgb(0, 255, 0); }
.error {
  color: rgb(255, 0, 0); }
.padding-vertical {
  padding: 15px 0; }

.android .spotlight-btn {
   display: none;
}
