* {
  color: #303030;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
body {
  padding: 0.8em 0em 0.2em 0em;
  max-width: 40em;
}
button, input {
  padding: 0.5em;
  border: 3px solid #F5F5F5;
}
button {
  background-color: #F5F5F5;
}
div, fieldset {
  border-color: #303030;
  margin: 0.5em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  -webkit-flex-direction: row;
  flex-direction: row;
}
fieldset > div > *, div > * {
  margin: 0 0.5em;
  width: 0em;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}